%h1.title My Messages
- @messages.each do |message|
  #infoblock
    #formrowleft
      %strong= 'Sender: '
      = message[:message].from_email
    #formrowleft
      %strong= 'Subject: '
      = message[:message].subject
    #formrowleft 
      %strong= 'Body:'
    #spacer
    #formrowleft
      = message[:message].body
    #spacer
    = link_to 'Reply', messages_reply_path(message[:message].id)
    #spacer
    - if message[:reply].any?
      #spacer
      %strong= 'Message Context'
      #spacer
    - message[:reply].each do |reply|
      #formrowleft
        %strong= 'Sender: '
        = reply.from_email
      #formrowleft 
        %strong= 'Subject: '
        = reply.subject
      #formrowleft 
        %strong= 'Body:'
      #spacer
      #formrowleft
        = reply.body
      #spacer
  #spacer
  
= link_to 'New Message', messages_new_path
