%h1.title Reply To Message
#infoblock
  #formrowleft 
    %strong= 'Sender: '
    = @message.from_email
  #formrowleft 
    %strong= 'Subject: '
    = @message.subject
  #formrowleft 
    %strong= 'Body:'
  #spacer
  #formrow
    = @message.body
  #spacer
#spacer
= form_tag 'reply_message', :method => :post, :id => 'reply_message' do
  #formblock
    #formrow
      = label :body, 'Body'
    #formrow
      = text_area_tag :body, params[:body], cols: 40, rows: 10, :id => 'body_box'
    = submit_tag "Reply", :id => 'reply_button'
    = hidden_field_tag :reply, @message.id
#spacer
= link_to "Go Back", messages_path
