%h2 Log In

= form_tag login_path do

  = label :session, :email, "Email"
  = text_field :session, :email

  %div
  = label :session, :password, "Password"
  = password_field :session, :password

  %div
  = submit_tag 'Login'

  %div
  = link_to 'Forgot your password?', root_path

  %div
  = 'Don\'t have an account?'
  = link_to 'Sign up', register_path

  %div
  = link_to 'Return to Home Page', root_path