%h1 Reply to Discussion

= form_tag discussions_create_reply_path do

  = label :discussion, :body, 'Body'
  = text_field :discussion, 'body'

  = label :discussion, :author, 'Author'
  = text_field :discussion, 'author'

  = submit_tag 'Add Reply', data: {root_discussion_id: 1}
