%h1.title#discussion_edit_title Edit Discussion Post
= form_tag discussion_path(@discussion), :method => :put do
  #formblock
    - if !@discussion[:title].blank?
      #formrow
        = label :discussion, :title, 'Title'
        = text_field :discussion, 'title', value: @discussion[:title]
    #formrow
      = label :discussion, :body, 'Body'
    #formrow
      = text_area :discussion, 'body', cols: 40, rows: 10, value: @discussion[:body]
    = submit_tag 'Update', id: 'edit_discussion_post'
  #spacer
  = link_to 'Go Back', discussions_path
