%h1.title#discussion_edit_title Edit Discussion Post

= form_tag discussion_path(@discussion), :method => :put do

  - if !@discussion[:title].empty?
    = label :discussion, :title, 'Title'
    %div
    = text_field :discussion, 'title', value: @discussion[:title]
    %div
  = label :discussion, :body, 'Body'
  %div
  = text_area :discussion, 'body', cols: 40, rows: 10, value: @discussion[:body]

  #spacer
    = submit_tag 'Update Discussion', id: 'edit_discussion_post'
  = link_to 'Go Back', discussions_path
