%h1 Post new Discussion

%form
  = label :discussion, :title
  = text_field :discussion, :title
  = label :discussion, :body
  = text_field :discussion, :body
  = label :discussion, :author
  = text_field :discussion, :author
  %input{:type => "submit", :value => "Add Discussion Post"}
