%h1.title#discussion_title= "Discussion: \"#{@root_discussion[:title]}\""
- if logged_in? and @discussions_with_replies.any? { |d| current_user[:first_name] == d.account[:first_name] and current_user[:last_name] == d.account[:last_name] }
  - extra_cells = true
- else
  - extra_cells = false

#infoblock
  #formrowleft 
    %strong= 'Posted by: '
    = "#{@root_discussion.account[:first_name]} #{@root_discussion.account[:last_name]}"
  #formrowleft
    %strong= 'Body:'
  #spacer
  #formrowleft
    = @root_discussion.body
  #spacer

%table
  %thead
    %th
    %th Reply
    %th Author
    - if extra_cells 
      %th
      %th
  %tbody
    - @discussions_with_replies.each do | discussion_with_reply|
      %tr
        - if discussion_with_reply.account[:account_type] == 'Faculty'
          %td= raw('&#9733;')
        - else
          %td= ''
        %td= discussion_with_reply[:body]
        %td= "#{discussion_with_reply.account[:first_name]} #{discussion_with_reply.account[:last_name]}"
        - if logged_in? and current_user[:first_name] == discussion_with_reply.account[:first_name] and current_user[:last_name] == discussion_with_reply.account[:last_name]
          %td= link_to "Edit", edit_discussion_path(discussion_with_reply)
          %td= link_to "Delete", discussion_path(discussion_with_reply), method: :delete
        - elsif extra_cells
          %td
          %td
%p &#9733; => Faculty Post
#spacer

- if logged_in?
  = form_tag discussions_create_reply_path do
    #formblock
      = hidden_field :discussion, :root_discussion_id, :value => @root_discussion[:id]
      #formrow
        = label :discussion, :body, 'New Reply'
      #formrow
        = text_area :discussion, 'body', cols: 40, rows: 10
      = submit_tag 'Post Reply', id: 'post_reply_button'
      #spacer
= link_to 'Go Back', discussions_path
