%h1.title All Faculty Members

%table
  %thead
    %th First Name
    %th Last Name
    %th Topic Area
  %tbody
    - @faculties_and_research_area.each do |faculty|
      %tr
        %td= faculty[:first_name]
        %td= faculty[:last_name]
        %td= faculty[:research_area]

%p Search for faculty members in a given topic area!

= form_tag faculties_search_path do
  #formblock
    #formrow
      = label :search, 'Research Area'
      %input{:name => "search_research_area", :id => "search_research_area"}
    #spacer
    =submit_tag "Search", id: "search_research_area_button"
