%h1.title= "#{@research_area} Faculty"

%table
  %thead
    %th First Name
    %th Last Name
  %tbody
    - @faculties.each do |faculty|
      %tr
        %td= faculty.account[:first_name]
        %td= faculty.account[:last_name]

#spacer
= link_to 'Go Back', faculties_path
