%h1.title Faculty Homepage
= link_to 'Student Applications', graduate_applications_path
= link_to 'Student Discussions', discussions_path
= link_to 'Add Research Areas', root_path
= link_to 'My Messages', messages_path
= link_to 'My Profile', profile_path
= link_to 'Log out', logout_path, method: :delete
