%h1 Graduate Programs
%h2 Faculty Homepage
= link_to 'Student Applications', graduate_applications_path
= link_to 'Student Discussions', discussions_path
// TODO: Update when feature implemented
= link_to 'Add Research Areas', root_path
= link_to 'My Messages', messages_path
= link_to 'My Profile', profile_path
= link_to 'Logout', logout_path

%body
  %h3 Contact Us
  %a Office of the Dean
  %div
  %a 201 Gilmore Hall
  %div
  %a Phone: 319-335-2143
  %div
  %a Email: gradcoll@uiowa.edu
  %div
  %a Iowa City, IA 52242-1320
