%h1.title Public Homepage
= link_to 'Student Discussions', discussions_path
= link_to 'FAQ', faq_path
= link_to 'Log In', login_path
= link_to 'Register', register_path
%center
  %header
    = link_to 'Find Programs', home_path # replace when implemented
  %p Dont know what program you are interested in?
  %p Click here to find information about all our programs!
%center
  %header
    = link_to 'Search Universities', home_path # replace when implemented
  %p Wondering what the stats are for a specific university?
  %p Click here to search for any university in the country!
%center
  %header
    = link_to 'Discover Faculty', faculties_path
  %p Wondering what faculty our University has to support you in your Graduate program?
  %p Wondering what topic areas we cover?
  %p Click here and search for you favorite topic area to see if we have any faculty members you can contact!
