%h1 Graduate Programs
%h2 Student Home Page
= link_to 'FAQ', faq_path
= link_to 'Student Discussions', discussions_path
= link_to 'My Profile', profile_path
= link_to 'Log out', logout_path, method: :delete
// TODO: Update these when features are complete
= link_to 'My Application', root_path
= link_to 'Student Checklist', root_path
= link_to 'My Messages', messages_path

%body
  %center
    %header
      = link_to 'Find Programs', '/home'
    %a Dont know what program you are interested in?
    %div
    %a Click here to find information about all our programs!
%body
  %center
    %header
      = link_to 'Discover Faculty', '/facultys'
    %a Wondering what faculty our University has to support you in your Graduate program?
    %div
    %a Wondering what topic areas we cover?
    %div
    %a Click here and search for you favorite topic area to see if we have any faculty members you can contact!
%body
  %h3 Contact Us
  %a Office of the Dean
  %div
  %a 201 Gilmore Hall
  %div
  %a Phone: 319-335-2143
  %div
  %a Email: gradcoll@uiowa.edu
  %div
  %a Iowa City, IA 52242-1320
