%h1 Graduate Programs
%h1.title Student Home Page
= link_to 'FAQ', faq_path
= link_to 'Student Discussions', discussions_path
= link_to 'My Profile', profile_path
= link_to 'Log out', logout_path, method: :delete
// TODO: Update these when features are complete
= link_to 'My Application', root_path
= link_to 'Student Checklist', root_path
= link_to 'My Messages', messages_path

%body
  %center
    %header
      = link_to 'Find Programs', '/home'
    %p Dont know what program you are interested in?
    %p Click here to find information about all our programs!
%body
  %center
    %header
      = link_to 'Discover Faculty', '/facultys'
    %p Wondering what faculty our University has to support you in your Graduate program?
    %p Wondering what topic areas we cover?
    %p Click here and search for you favorite topic area to see if we have any faculty members you can contact!
%body
  %h3 Contact Us
  %p Office of the Dean
  %div
  %p 201 Gilmore Hall
  %div
  %p Phone: 319-335-2143
  %div
  %p Email: gradcoll@uiowa.edu
  %div
  %p Iowa City, IA 52242-1320
