
.nested-fields
  %fieldset
    %legend Entry
    = f.hidden_field :_destroy

    .file_name
      = f.label :name, 'Name:'
      = f.text_field :name
    
    .file_description
      = f.label :description, 'Description:'
      .description_field
        = f.text_area :description

    .file_attach
      = f.label :file, 'Attach Document:'
      .document_attach_button
        = f.file_field :file

    .deletion
      = link_to 'Remove', '#', class: 'remove_fields'