%h1 Submit New Application

= form_tag graduate_applications_path do

  .personal_details
    %h2 Personal Details
    .name_details
      = label :graduate_application, :first_name, 'First Name:'
      = text_field :graduate_application, 'first_name'

      = label :graduate_application, :last_name, 'Last Name:'
      = text_field :graduate_application, 'last_name'

    .age_details
    = label :graduate_application, :dob, 'Date of Birth'
    = date_select :graduate_application, :dob, {:start_year => 1900}

  .contact_details
    %h2 Contact Details
    .email_details
      = label :graduate_application, :email, 'Email:'
      = text_field :graduate_application, 'email'

    .phone_details
      = label :graduate_application, :phone, 'Phone:'
      = text_field :graduate_application, 'phone'

  .score_details
    %h2 Scores
    .gpa_details
      = label :graduate_application, :gpa_value, 'GPA:'
      = number_field :graduate_application, 'gpa_value', {:step => 0.01}

      = label :graduate_application, :gpa_scale, 'GPA Scale'
      = number_field :graduate_application, 'gpa_scale', {:step => 0.01}

  = submit_tag 'Submit'
