%h1 Submit New Application

= form_tag graduate_applications_path do

  .personal_details
    %h2 Personal Details
    .name_details
      = label :graduate_application, :first_name, 'First Name'
      = text_field :graduate_application, 'first_name'

      = label :graduate_application, :last_name, 'Last Name'
      = text_field :graduate_application, 'last_name'

    .age_details
    = label :graduate_application, :dob, 'Date of Birth'
    = date_select :graduate_application, :dob, {:start_year => 1900}

  .contact_details
    %h2 Contact Details
    = label :graduate_application, :email, 'Email'
    = text_field :graduate_application, 'email'

    = label :graduate_application, :email, 'Phone'
    = text_field :graduate_application, 'phone'

  .score_details
    .gpa_details
      = label :graduate_application, :gpa_value, 'GPA'
      = number_field :graduate_application, 'gpa_value', {:step => 0.01}

      = label :graduate_application, :gpa_scale, 'GPA Scale'
      = number_field :graduate_application, 'gpa_scale', {:step => 0.01}

  = submit_tag 'Save Changes'
