%h1.title#application-header #{@graduate_application.full_name}'s Application
#infoblock
  #formrow
    %h3 Personal Details
  #formrow
    %strong Full Name:
    = @graduate_application.full_name
  #formrow
    %strong Date of Birth:
    = @graduate_application.dob.strftime('%m/%d/%Y')

  #formrow
    %h3 Contact Details
  #formrow
    %strong Phone:
    = @graduate_application.phone
  #formrow
    %strong Email:
    = @graduate_application.email

  #formrow
    %h3 Scores
  #formrow
    %strong Average GPA (on a 4.0 scale):
    = (@graduate_application.average_gpa_ratio * 4)

  - if (@graduate_application.educations.length > 0)
    #formrow
      %h3 Education History:
    %formrow
      %table#applications
        %thead
          %tr
            %th School
            %th Degree
            %th Major
            %th GPA (4.0 Scale)
            %th Start Date
            %th End Date
            %th Currently Attending?
        %tbody
          - @graduate_application.educations.all.each do |education|
            %tr
              %td= education.school_name
              %td= education.degree
              %td= education.major
              %td= education.gpa_default_scale
              %td= education.start_date.strftime('%m/%d/%Y')
              %td= education.end_date.strftime('%m/%d/%Y')
              %td= education.currently_attending

  - if (@graduate_application.documents.length > 0)
    #formrow
      %h3 Attached Documents:
    #formrow
      - @graduate_application.documents.all.each do |document|
        .document_section
          .document_name
            %h5 Name: #{document.name}
            %label Description:
            %span= document.description
            =link_to "Download", document_download_path(id: document.id), method: 'post'
  #formrow
    %h3 Status
  #formrow
    .status_message
      = @graduate_application.status

#spacer
=link_to "Withdraw", withdraw_application_path(id: @graduate_application.id), method: :patch
= link_to 'Go Back', graduate_applications_path
