%h1.title New Research Area

= form_tag research_areas_path do
  #formblock
    #formrowright
      = label :research_area, :title, "Title"
      = text_field :research_area, :title
    #formrowright
      = label :research_area, :summary, "Summary"
      = text_field :research_area, :summary, size: 40
    #formrow
      = label :research_area, :detailed_overview, "Detailed Overview"
    #formrow
      = text_area :research_area, :detailed_overview, rows: 10, cols: 50
    = submit_tag 'Add Area'