%h1.title= @research_area.title

#infoblock{ :style => 'max-width: 80%;' }
  #formrow
    %h3 Summary
  #formrow
    = @research_area.summary
  #formrow
    %h3 Detailed Overview
  #formrow
    = @research_area.detailed_overview

%h3 Faculty in This Area
%table
  %thead
    %th First Name
    %th Last Name
    %th Email
  %tbody
    - @faculty_in_research_area.each do |faculty|
      %tr
        %td= Account.find(faculty[:account_id])[:first_name]
        %td= Account.find(faculty[:account_id])[:last_name]
        %td= Account.find(faculty[:account_id])[:email]

#spacer
= link_to 'Go Back', research_areas_path
