%h1#application-header #{@research_area.title}

%h3 Summary
= @research_area.summary

%h3 Detailed Overview
= @research_area.detailed_overview

%h3 Faculty in This Area

%table
  %thead
    %th First Name
    %th Last Name
    %th E-Mail
  %tbody
    - @faculty_in_research_area.each do |faculty|
      %tr
        %td= Account.find(faculty[:account_id])[:first_name]
        %td= Account.find(faculty[:account_id])[:last_name]
        %td= Account.find(faculty[:account_id])[:email]

%div
  = link_to 'Back to All Resarch Areas', research_areas_path
