!!!
%html
  %head
    %title College of Engineering Graduate Portal
    = stylesheet_link_tag 'application', 'media' => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1 Graduate Programs
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:alert]
        #alert.message= flash[:alert]

      = yield
    
      #spacer 
      = link_to 'Return to Home Page', root_path
      %h3 Contact Us
      %p Office of the Dean
      %p 201 Gilmore Hall
      %p Phone: 319-335-2143
      %p Email: gradcoll@uiowa.edu
      %p Iowa City, IA 52242-1320
