!!!
%html
  %head
    %title College of Engineering Graduate Portal
    = stylesheet_link_tag 'application', 'media' => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %table
      %tr
        %td
          %h1.title Graduate Programs
        %td
          %span(class="homeLinkSpanClass")
            =link_to "Homepage", "/home"
    %div
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:alert]
        #alert.message= flash[:alert]

      = yield
