%h1 Create Account

= form_tag register_path do

  = label :account, :first, "First Name"
  = text_field :account, :first

  = label :account, :last, "Last Name"
  = text_field :account, :last

  = label :account, :email, "Email"
  = text_field :account, :email

  = label :account, :password, "Password"
  = password_field :account, :password

  = label :account, :password_confirm, "Confirm Password"
  = password_field :account, :password_confirm

  = label :account, :type, "I am a"
  %select{ :name=> "account[type]" }
    %option{ :value => "Student" }= Student
    %option{ :value => "Faculty" }= Faculty

  = submit_tag 'Register'