%h1.title Profile
= form_tag profile_path do
  #infoblock
    #formrowleft
      %strong First Name: 
      = current_user.first_name
    #formrowleft
      %strong Last Name: 
      = current_user.last_name
    #formrowleft
      %strong Email: 
      = current_user.email
    #spacer
    #formrow
      = link_to 'Log out', logout_path, method: :delete
    #spacer